---
- name: Web VM Provision
  hosts: web
  become: true
  tasks:
    - name: Check if repo directory exists
      stat:
        path: /opt/dev/cogsi2526-1211711-1210631
      register: repo_dir

    - name: Clone the repository
      git:
        repo: 'https://github.com/1211711/cogsi2526-1211711-1210631.git'
        dest: /opt/dev/cogsi2526-1211711-1210631
      when: not repo_dir.stat.exists

    - name: Update H2 database URL in application.yaml
      lineinfile:
        path: /opt/dev/cogsi2526-1211711-1210631/CA2/Part2/gradle-migration/src/main/resources/application.properties
        regexp: 'jdbc:h2:tcp://192.168.33.11:9092/database'
        line: 'jdbc:h2:tcp://192.168.33.11:9092/h2db'

    - name: Wait for H2 database to be ready
      wait_for:
        host: 192.168.33.11
        port: 9092
        delay: 1
        timeout: 3
        state: started
      retries: 5
      delay: 3

    - name: Build the application
      command: "./gradlew bootRun"
      args:
        chdir: /opt/dev/cogsi2526-1211711-1210631/CA2/Part2/gradle-migration
      async: 600
      poll: 0

    - name: Healthcheck
      uri:
        url: http://localhost:8080/employees
        method: GET
        return_content: true
      register: http_check
      until: http_check.status == 200
      retries: 5
      delay: 5
      failed_when:
        - http_check.status != 200
        - "Unhealthy application response"
      ignore_errors: true
